/* Estilos generales */
body {
    background-color: #ffffff; /* Fondo blanco */
    color: #333; /* Color de texto por defecto */
    font-family: Arial, sans-serif; /* Fuente general */
}

/* Estilo para el contenedor principal */
.container {
    background-color: #ffffff; /* Fondo blanco */
    border: 2px solid #e30742; /* Borde rojo */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
}

/* Estilo del título */
h1 {
    color: #e30742; /* Título en rojo */
    margin-bottom: 20px; /* Margen inferior */
}

/* Estilo para valores numéricos en negrita */
.bold {
    font-weight: bold;
}

/* Estilo para el formulario */
.form-control {
    background-color: #f9f9f9; /* Fondo del formulario */
    border: 1px solid #ccc; /* Borde gris claro */
}

.btn-primary {
    background-color: #e30742; /* Botón rojo */
    border-color: #d20505; /* Borde del botón */
    color: white; /* Color del texto del botón */
}

/* Estilo para el botón al hacer clic */
.btn-primary:focus,
.btn-primary:active {
    background-color: #ff0000; /* Color rojo intenso al hacer clic */
    border-color: #e25151; /* Borde del botón */
    box-shadow: none; /* Sin sombra */
}

/* Estilo para la tabla */
.result-table {
    width: 100%;
    border-collapse: collapse; /* Bordes colapsados */
}

.result-table th,
.result-table td {
    border: 2px solid #e00505; /* Bordes gruesos */
    padding: 8px; /* Espaciado interno */
}

.result-table th {
    background-color: #e30742; /* Color de fondo para encabezados */
    color: #fff; /* Color del texto en encabezados */
}
.form-container input[type="time"] {
    max-width: 50px; /* Ancho máximo del campo de entrada de hora */
}
